body {
    background: #031323;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 32vw;
    background: #f7f7f7;
    color: #675e29;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 20vw;
    height: 4vh;
    background: #543770;
    color: #f0d43a;
    font-size: 3.4vw;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 1px 4px rgb(131, 130, 130);
    margin: auto;
    padding: auto;
}


h1 {
    font-size: 2vw;
}

textarea {
    background: #f7f7f7;
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    color: #675e29;
    width: 50vw;
}

:placeholder-shown {
    background: #694C86;
}

.headline {
    text-align: center;
    text-shadow: 2px 2px 2px #aaa;
}

.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.holder {
    font-size: 3.2vw;
    padding: 5px;
    margin-left: 40px;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100vh;
    /* background: #f23557; */
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 2vw;
    font-family: 'Oswald', sans-serif;
}

label , .fontSize{
    font-size: 3vw;
}




/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
    
}


:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}



/* CSS FOR SQUERS */
.box .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes square {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}



/* container css */
.container {
    padding: 10px;
    width: 70vw;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    margin:auto;
}


    .box .square:nth-child(1) {
        width: 10vw;
        height: 10vw;
        top: 15px;
        right: 45px;
    }
    
    .box .square:nth-child(2) {
        width: 15vw;
        height: 15vw;
        top: 105px;
        left: 125px;
        z-index: 0;
    }
    
    .box .square:nth-child(3) {
        width: 6.0vw;
        height: 6.0vw;
        bottom: 85px;
        right: 45px;
        z-index: 0;
    }
    
    .box .square:nth-child(4) {
        width: 5.0vw;
        height: 5.0vw;
        bottom: 35px;
        left: 95px;
        z-index: 0;
    }
    
    .box .square:nth-child(5) {
        width: 5.0vw;
        height: 5.0vw;
        top: -15px;
        left: -25px;
        z-index: 0;
    }
    
    .box .square:nth-child(6) {
        width: 8.5vw;
        height: 8.5vw;
        top: 365px;
        right: 155px;
        z-index: 0;
    }
